.faculty-dash {
    margin-left: 30rem;
    padding: 2rem 3rem;
    background-color: $color-light-bg;
    padding-bottom: 5rem;
}

.faculty__ilp {
    margin-left: 30rem;
    padding: 2rem 3rem;
    background-color: $color-light-bg;
    padding-bottom: 5rem;
}
