/* Styles for the main container */
.aboutpage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styles for the card */
.aboutpage-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Adjust the maximum width as needed */
  width: 100%;
}

/* Styles for the heading */
.aboutpage-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Styles for the subheading */
.aboutpage-subheading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Styles for the paragraph */
.aboutpage-paragraph {
  font-size: 18px;
  line-height: 1.5;
}

/* Styles for the bullet points */
.aboutpage-bullets {
  margin-left: 20px;
}

/* Styles for individual bullet points */
.aboutpage-bullet-item {
  list-style-type: disc;
}
