.login {
    height: 100vh;
    position: relative;
    background-image: url("../assets/images/login.png");
    background-repeat: no-repeat;
    background-position: 85% center;
    background-size: 35%;
    overflow-x: hidden;

    &--btn {
        background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        padding: 1.2rem 5rem;
        border-radius: 200px;
        font-weight: 500;
        color: $color-white;
        margin-top: 3rem;
        cursor: pointer;
    }

    &--bg {
        background: linear-gradient(to right bottom, rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.5)),
            url("./../assets/images/login-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(2px);

        width: 100vw;
        height: 100%;
        z-index: -1;

        position: absolute;
        top: 0;
        left: 0;
    }
}

.login__form {
    width: 40%;
    height: 40rem;
    padding: 3rem 10rem;
    border-radius: 5rem;
    background-color: rgba($color-grey-light-2, 0.5);
    margin-right: -5rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);

    position: absolute;
    top: 25%;
    left: 5%;

    &--header {
        text-align: center;
        font-size: 3.5rem;
        padding-bottom: 3rem;
        letter-spacing: 1px;
        font-weight: 600;

        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &--group {
        padding-bottom: 1.8rem;
        display: flex;
        align-items: center;
    }

    &--icon {
        margin-top: 20px;
        padding-right: 1rem;
        cursor: pointer;
        font-size: 2rem;
        color: $color-grey-dark-1;
        position: relative;
    }

    &--eye-icon {
        font-size: 1.5rem;
        display: inline-block;
        margin-left: -5rem;
        cursor: pointer;
        color: $color-grey-dark-2;
    }

    &--footer {
        text-align: center;
    }

    &--error {
        font-size: 1.3rem;
        padding-top: 2rem;
        padding-left: 4rem;
        color: #d00000;
        transition: all 0.2s;

        & > i {
            padding-right: 1rem;
        }
    }
}
