// COLORS
$color-primary: #fd4d0a;
$color-primary-light: #fe7e4e;
$color-primary-dark: #e44002;

$color-secondary: #33479d;
$color-secondary-light: #5268c7;
$color-secondary-dark: #2c3d87;
$color-secondary-dark-2: #231f41;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f3f3f3;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-blue: #21209c;
$color-red: #e74c3c;
$color-orange: #f39c12;
$color-light: #888;
$color-light-bg: #eee;
$color-black-2: #2c3e50;

// --main-color1: #21209c;
// --red: #e74c3c;
// --orange: #f39c12;
// --light-color: #888;
// --light-bg: #eee;
// --black: #2c3e50;
// --white: #fff;

// FONT
$default-font-size: 1.6rem;
